<div class="container m-5">
    <div class="row">
      <h2>Professores</h2>
    </div>
    <div class="row">
      <table class="table table-striped m-1">
        <thead>
          <tr>
            <th>Nome</th>
            <th>CV</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Angelo Zaninini</td>
            <td><a href="http://lattes.cnpq.br/">CV</a></td>
          </tr>
          <tr>
            <td>Thiago Sanches</td>
            <td><a href="http://lattes.cnpq.br/">CV</a></td>
          </tr>
          <tr>
            <td>Furlan</td>
            <td><a href="http://lattes.cnpq.br/">CV</a></td>
          </tr>
          <tr>
            <td>Rodrigo Bossini</td>
            <td><a href="http://lattes.cnpq.br/">CV</a></td>
          </tr>
          <tr></tr>
        </tbody>
      </table>
    </div>
  </div>