<div class="container m-1">
  <div class="row">
    <div class="card-column">

      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title">Curso de Eletrônica</h4>
          <!-- <img class="card-img-top" src="https://maua.br/img/upload/092018/engenharia-eletronica-14103106.png" alt="computação"> -->
          <p class="card-text">
            A Engenharia Eletrônica está em nosso cotidiano, presente nas mais diversas áreas: Comunicação,
            Transporte, Sistemas Computadorizados, Controle de Processos, Entretenimento, Segurança,
            Automação
            Predial e Industrial, Indústria de Eletrodomésticos e Equipamentos Médicos, entre muitas outras.
            Essa
            amplitude de aplicações para o engenheiro eletrônico, com uma formação ampla e diversificada,
            faz com
            que o profissional esteja preparado para assumir projetos que vão desde minúsculos circuitos
            eletrônicos
            até imensas redes de comunicação. </p>
        </div>
      </div>

      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title">Curso de Computação</h4>
          <!-- <img class="card-img-top" src="https://maua.br/img/upload/092018/engenharia-computacao-14103023.png" alt="computação"> -->
          <p class="card-text">
            A Engenharia de Computação está presente em nosso dia a dia e nas mais diversas áreas: Educação,
            Indústrias, Redes de Comunicação e Dispositivos Móveis, Transportes, Entreterimento, entre
            outras. Essa
            diversidade de aplicações para o Engenheiro de Computação qualifica-o para atuar como
            desenvolvedor,
            engenheiro, empreendedor, executivo de grandes corporações.
          </p>
        </div>
      </div>

      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title">Curso de Mecânica</h4>
          <!-- <img class="card-img-top" src="https://maua.br/img/upload/102018/engenharia-mecanica-18154700.png" alt="computação"> -->
          <p class="card-text">
            A graduação em Engenharia Mecânica é uma das mais abrangentes modalidades da Engenharia. Ela
            trata de
            tudo o que se move, de brinquedos a fábricas (com tudo o que está dentro), passando por
            eletrodomésticos, embarcações, veículos etc. Além disso, ela trata de instalações de conversão
            de
            energia como hidroelétricas e termoelétricas, instalações de ar-condicionado, de geração de
            vapor e
            frigoríficas.
          </p>
        </div>
      </div>

      <app-curso-card *ngFor='let x of cursos' [course]='x'></app-curso-card>
      <!-- EXTRA CARDS -->


    </div>
  </div>
  <div class="row">
    <!-- add cards forms -->
    <button class="btn btn-primary mt-5 mb-5" (click)="showForms()">{{formsShowMoreBtnText}}</button>
  </div>
  <div class="row">
    <app-curso-form *ngIf="!isFormsHidden" (cursoAdicionado)="onCursoAdicionado($event)"></app-curso-form>
  </div>
</div>
